<ion-header>
    <ion-navbar>
        <ion-title>{{'sign_in' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-top text-center>
    <img src="assets/imgs/logo.png" class="logo">
    <div padding>
        <ion-list class="form" no-lines>
            <ion-item class="bg-light">
                <ion-label>{{'phone_number' | translate}}</ion-label>
                <ion-input type="text" value="+91 9876543210" text-end></ion-input>
            </ion-item>
            <ion-item class="bg-light">
                <ion-label>{{'password' | translate}}</ion-label>
                <ion-input class="password" type="password" value="*******" text-end></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block full text-uppercase class="bg-green text-white btn round shadow-green" (click)="homePage()">{{'login' | translate}}</button>
    </div>

    <ion-row padding-left padding-right>
        <ion-col (click)="signupPage()"><small>{{'new_user' | translate}}<strong class="text-theme">{{'sign_up' | translate}}</strong></small></ion-col>
        <ion-col text-end><small>{{'forgot' | translate}}<strong class="text-theme">{{'password?' | translate}} </strong></small></ion-col>
    </ion-row>
    <p padding text-center class="option-login"><span>{{'or_continye_with' | translate}}</span></p>
    <ion-row padding-left padding-right class="socile_media_btn">
        <ion-col>
            <button text-capitalize ion-button icon-left block class="fb_btn text-white btn  shadow-blue">
                <img src="assets/imgs/fb_white.png">
                {{'facebook' | translate}}
            </button>
        </ion-col>
        <ion-col>
            <button text-capitalize ion-button icon-left block class="google_btn text-dark btn  shadow-black">
                <img src="assets/imgs/google.png">
                {{'google' | translate}}
            </button>
        </ion-col>
    </ion-row>
</ion-content>
