<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle> </button>
        <!--        <ion-title>location</ion-title>-->
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" class="mymap"></div>
    <!--
<ion-card class="shadow-black">
    <ion-card-content>
        <div class="shadow-black border-radius">
            <ion-row>
                <ion-col class="location-icon">
                    <strong class="bg-green"></strong>
                </ion-col>
                <ion-col class="pad-0">
                    <ion-item class="bg-white border-bottom">
                        <ion-input type="text" class="" placeholder="location from"></ion-input>
                        <ion-icon name="md-locate" class="text-black"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="location-icon">
                    <strong class="bg-yellow"></strong>
                </ion-col>
                <ion-col class="pad-0">
                    <ion-item class="bg-white">
                        <ion-input type="text" class="" placeholder="location to"></ion-input>
                        <ion-icon name="md-locate" class="text-black"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
        <div class="past-location" padding-top>
            <ion-list>
                <ion-item class="text-light">
                    <p>
                        <ion-icon name="time" padding-right></ion-icon>
                        James Avenue, Nj
                    </p>
                </ion-item>
                <ion-item class="text-light">
                    <p>
                        <ion-icon name="time" padding-right></ion-icon>
                        James Avenue, Nj
                    </p>
                </ion-item>
                <ion-item class="text-light">
                    <p>
                        <ion-icon name="time" padding-right></ion-icon>
                        James Avenue, Nj
                    </p>
                </ion-item>
            </ion-list>
        </div>
       
    </ion-card-content>
</ion-card>
-->


    <div class="container">
        <ion-list class="form shadow-black" no-lines>
            <ion-item class="from">
                <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                <ion-label text-end>{{'from' | translate}}</ion-label>
                <ion-input type="text" value="{{'your_location' | translate}}"></ion-input>
                <ion-icon item-end name="md-locate"></ion-icon>
            </ion-item>
            <ion-item class="to">
                <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                <ion-label text-end>{{'to' | translate}}</ion-label>
                <ion-input type="text" value="Sid Ave, Journal Square, Nj"></ion-input>
            </ion-item>
        </ion-list>
        <div class="past_location">
            <h2 class="d-flex">
                <ion-icon class="material-icons">history</ion-icon> <span>James Avenue, Nj</span>
            </h2>
            <h2 class="d-flex">
                <ion-icon class="material-icons">history</ion-icon> <span>Pulaski Skyway, Nj</span>
            </h2>
            <h2 class="d-flex">
                <ion-icon class="material-icons">history</ion-icon> <span>New Trade Center, Nj</span>
            </h2>
        </div>
    </div>
</ion-content>
<ion-footer no-border>
    <button ion-button block class="btn shadow-green" (click)="choosecabPage()">{{'continue' | translate}}</button>
</ion-footer>
