page-location {
    //	.scroll {
    //        height: 100%
    //      }
    // 
    //      #map {
    //        width: 100%;
    //        height: 100%;
    //      }
    //	  
    //    .my-map{
    //		z-index: -1;
    //        position: absolute;
    //	}
    //    .bg-img {
    //        z-index: -1;
    //		background: none;
    //        position: fixed;
    //    }
    //    .header .toolbar-background {
    //        background: transparent !important;
    //    }
    //    .header button ion-icon {
    //        color: #000000 !important;
    //    }
    //    .header::after {
    //        display: none;
    //    }
    //    .header-ios .toolbar-background-ios,
    //    .footer-ios .toolbar-background-ios {
    //        border: none;
    //    }
    //    .border-bottom {
    //        border-bottom: 1px solid #ccc !important;
    //    }
    //    .border-none {
    //        border-bottom: none !important;
    //    }
    //    .card {
    //        border-radius: 10px !important;
    //        .card-content {
    //            padding: 0 !important;
    //        }
    //        [col-10] {
    //            padding: 0 !important;
    //        }
    //        .row {
    //            align-items: center;
    //            &.shadow-black {
    //                box-shadow: 0px 18px 22px rgba(0, 0, 0, 0.06);
    //            }
    //        }
    //        .form {
    //            border-radius: 10px;
    //            overflow: hidden;
    //            margin-bottom: 1.6rem;
    //            ion-item {
    //                padding-left: 0 !important;
    //                width: 100% !important;
    //                .item-inner {
    //                    padding-left: 0px;
    //                    ion-label {
    //                        font-size: 1.3rem;
    //                        font-size: 1.3rem;
    //                        width: 36px;
    //                        display: block;
    //                    }
    //                    .text-input {
    //                        font-size: 1.5rem !important;
    //                        font-weight: 500 !important;
    //                    }
    //                }
    //            }
    //        }
    //        .active-stage {
    //            padding-top: 18px;
    //            span {
    //                width: 20px;
    //                display: block;
    //                background: #fff;
    //                margin: auto;
    //                strong {
    //                    margin: auto;
    //                    display: block;
    //                    width: 10px;
    //                    height: 10px;
    //                    border-radius: 50%;
    //                }
    //                &.col-1 {}
    //                &.col-2 {
    //                    width: 1px;
    //                    height: 35px;
    //                    border-radius: 0;
    //                    padding: 2px 0;
    //                    margin: -0px 0 0px 9.81px;
    //                    background: #a0a0a0;
    //                }
    //                &.col-3 {}
    //            }
    //            &::after {
    //                content: '';
    //                display: block;
    //                position: absolute;
    //                width: 1px;
    //                left: 0;
    //                right: 0;
    //                margin: auto;
    //                height: 54px;
    //                background: #ccc;
    //                top: 26px;
    //                z-index: 0;
    //            }
    //        }
    //        .past-location {
    //            .item {
    //                background: none !important;
    //                .label {
    //                    margin: 0 !important;
    //                }
    //                p {
    //                    font-size: 1.3rem;
    //                    font-weight: 500;
    //                }
    //                .item-inner {
    //                    height: 35px !important;
    //                    .input-wrapper {
    //                        height: 35px !important;
    //                    }
    //                }
    //            }
    //        }
    //    }
    //    .item-block:first-child {
    //        border-top: none !important;
    //    }
    //    .border-radius {
    //        border-radius: 10px;
    //        .pad-0 {
    //            padding: 2px 0;
    //        }
    //        .item {
    //            padding-left: 0 !important;
    //        }
    //        ion-label {
    //            color: #dbdbdb !important;
    //            width: 40px !important;
    //        }
    //        &.shadow-black {
    //            box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.2);
    //        }
    //        .item-inner {
    //            border-bottom: none !important;
    //            box-shadow: none !important;
    //        }
    //    }
    //    .location-icon {
    //        max-width: 40px;
    //        text-align: center;
    //        strong {
    //            border-radius: 50%;
    //            display: block;
    //            height: 12px;
    //            width: 12px;
    //            margin: auto;
    //            position: relative;
    //            z-index: 1;
    //            &::after {
    //                content: '';
    //                position: absolute;
    //                width: 1px;
    //                height: 30px;
    //                display: block;
    //                margin: auto;
    //                bottom: -33px;
    //                background: #ccc;
    //                left: 0;
    //                right: 0;
    //            }
    //            &.bg-yellow {
    //                &::after {
    //                    display: none;
    //                }
    //            }
    //        }
    //    }


    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .scroll {
        height: 100%
    }

    #map {
        width: 100%;
        height: 100%;
    }


    button.bar-buttons {
        //display: block !important;
        color: $white !important;
    }

    .list {
        &.form {
            position: relative;
            overflow: hidden;
            margin-bottom: 0;

            &.shadow-black {
                box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1) !important;
            }

            .item {
                padding: 1px 0px 0px 10px;
                align-items: flex-start;
                position: relative;
                border-bottom: none !important;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 21px;
                    background: $gray;
                    width: 1px;
                    height: 50%;
                    display: block;
                    margin: auto;
                }

                &::after {
                    bottom: 0;
                    top: unset;
                }

                &:first-child {
                    &::before {
                        display: none;
                    }
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                ion-icon {
                    &[item-start] {
                        font-size: 1.8rem;
                        position: relative;
                        top: 15px;
                        z-index: 99;
                        margin: 0;
                        margin-right: 10px;
                    }
                }

                &.from {
                    ion-icon {
                        &[item-start] {
                            color: $theme-color
                        }
                    }
                }

                &.to {
                    ion-icon {
                        &[item-start] {
                            color: $yellow_color;
                        }
                    }
                }

                .item-inner {
                    align-items: center;
                    border-bottom: 1px solid lighten($gray, 30%) !important;
                    margin: 0;

                    &:last-child {
                        border-bottom: none !important;

                    }

                    .label {
                        min-width: 34px;
                        margin-right: 10px;
                        font-size: 1.3rem;
                        color: lighten($gray, 30%);
                    }

                    ion-icon {
                        &[item-end] {
                            min-width: 40px;
                            text-align: center;
                            margin: 0;
                            font-size: 1.8rem;
                            position: relative;
                            top: 7px;
                        }
                    }
                }

                &.disabled {
                    .item-inner ion-input .text-input {
                        color: lighten($gray, 30%);
                        font-weight: 400 !important;
                    }
                }

            }
        }


    }

    .container {
        position: relative;
        top: 57px;
        width: calc(100% - 50px);
        margin: 0 auto;

        .past_location {
            background: $white;
            border-radius: 0 0 7px 7px;
            padding: 24px 15px 2px 15px;
            display: block;
            overflow: hidden;
            position: relative;
            z-index: -1;
            top: -5px;

            h2 {
                color: lighten($gray, 10%);
                margin: 0;
                margin-bottom: 15px;
                letter-spacing: .5px;
                font-weight: 400;

                ion-icon {
                    color: lighten($gray, 10%);
                    font-size: 1.5rem;
                    margin-right: 10px;
                }

                span {
                    font-size: 1rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .footer {
        .button.btn[block] {
            width: calc(100% - 50px);
            margin: 0 auto;
            margin-bottom: 16px;
        }

    }
}
