page-addcard {
    .header .toolbar .title .end {
        font-size: 1.45rem;
        font-weight: 500;
        letter-spacing: 1.5px;
    }

    p {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .active-stage {
        width: 200px;
        margin: auto;
        position: relative;
        margin-top: 10px;

        span {
            width: 17px;
            display: block;
            background: $white;
            margin: auto;

            strong {
                margin: auto;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $bg-color;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: calc(100% - 71px);
            left: 0;
            right: 0;
            margin: auto;
            height: .8px;
            background: $theme-color;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: -1;
        }

        .row {
            .col {
                &.active {
                    span strong {
                        background: $theme-color;
                    }
                }
            }
        }
    }

    .form {
        background: $bg-color;
        width: calc(100% - 32px);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .button.btn[block] {
        width: calc(100% - 32px);
        margin: 0 auto;
        margin-top: 47px;
    }

    .row {
        .col {
            padding: 0;

            &:first-child {
                border-right: 1px solid lighten($gray, 30%) !important;
            }
        }
    }

    .card_img_box {
        width: 270px;
        margin: 0 auto;
        margin-bottom: 45px;
        margin-top: 30px;
    }

}
