<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{'sign_up' | translate}}
            <span class="end" text-capitalize (click)="homePage()">{{'skip' | translate}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
    <div class="active-stage" padding>
        <ion-row text-center>
            <ion-col class="active"><span><strong></strong></span></ion-col>
            <ion-col class="active"><span><strong></strong></span></ion-col>
            <ion-col class="active"><span><strong></strong></span></ion-col>
        </ion-row>
    </div>
    <p text-center>{{'add_money_to_your_wallet_for' | translate}}<br>{{'quick_payment' | translate}}</p>
    <div class="card_img_box">
        <img src="assets/imgs/atm_card.png" alt="atm_card">
    </div>

    <div>

        <ion-list class="form" no-lines>
            <ion-item class="bg-light">
                <ion-label>{{'card_number' | translate}}</ion-label>
                <ion-input type="text" value="5886 1121 2254 2142" text-right></ion-input>
            </ion-item>
            <ion-row>
                <ion-col col-6>
                    <ion-item class="bg-light">
                        <ion-label>{{'expiry_date' | translate}}</ion-label>
                        <ion-input type="text" value="12/25" text-right></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item class="bg-light">
                        <ion-label>{{'cvv_code' | translate}}</ion-label>
                        <ion-input type="text" value="002" text-right></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>

        <ion-list class="form" no-lines>
            <ion-item class="bg-light">
                <ion-label>{{'inter_amout_in' | translate}}</ion-label>
                <ion-input type="text" value="150" text-right></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block class="btn shadow-green" (click)="referralcodePage()">{{'add_money' | translate}}</button>
    </div>
</ion-content>
