<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="banner_img">
            <img src="assets/imgs/profile.png">
        </div>
        <ion-icon name="md-create"></ion-icon>
    </div>
    <ion-list class="form" no-lines>
        <ion-item>
            <ion-label floating>{{'first_name' | translate}}</ion-label>
            <ion-input type="text" value="Sam"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'last_name' | translate}}</ion-label>
            <ion-input type="text" value="Smith"></ion-input>
        </ion-item>
        <div class="d-flex">
            <ion-item>
                <ion-label floating>{{'contact_number' | translate}}</ion-label>
                <ion-input type="text" value="+1 987 654 3210"></ion-input>
            </ion-item>
        </div>
        <div class="d-flex">
            <ion-item>
                <ion-label floating>{{'email_address' | translate}}</ion-label>
                <ion-input type="text" value="appuser@email.com"></ion-input>
            </ion-item>
        </div>
        <ion-item>
            <ion-label floating>{{'password' | translate}}</ion-label>
            <ion-input class="Password" type="text" value="* * * * * *"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
