<ion-header>
    <ion-navbar>
        <!--
<button ion-button menuToggle>
</button>
-->
        <ion-title>{{'receipt' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="bg-white recipt" text-center>
        <h6>{{'fare_summary' | translate}}</h6>

        <h1 class="text-black">$23.00</h1>
        <p>22 Oct, 2017, 12:30</p>

        <ion-list no-lines radio-group class="radio_container">
            <p text-center>{{'choose_payment_mode' | translate}}</p>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-radio checked="true" item-start value="cash"></ion-radio>
                        <ion-label>{{'pay_cash' | translate}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-radio item-start value="wallet_pay"></ion-radio>
                        <ion-label>{{'wallet_pay' | translate}}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/2.png">
                </ion-avatar>
                <p class="text-black">{{'rate_now' | translate}}</p>
                <h2 class="text-black">George Smith</h2>
            </ion-item>
        </ion-list>
    </div>

</ion-content>

<ion-footer no-border>
    <div class="rateing_btn">
        <div class="rateing">
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
            <ion-icon name="star" class=""></ion-icon>
        </div>
        <button ion-button block class="btn shadow-red" (click)="home()">{{'submit_rating' | translate}}</button>
    </div>
</ion-footer>
