page-farerate {
    .header .toolbar .title .toolbar-title {
        text-align: center !important;
        display: block !important;
    }

    //    .outline {
    //        width: 85px;
    //        height: 6px;
    //        border-radius: 6px;
    //        margin: 0 auto;
    //        display: block;
    //    }

    .recipt {
        background: $white;

        h6 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin-top: 0;
            padding-bottom: .5rem;
            padding-top: 20px;
            padding-bottom: 17px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 90px;
                height: 6px;
                background: $theme-color;
                border-radius: 50px;
                margin: 0 auto;
            }
        }

        h1 {
            font-size: 4.5rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding-top: 10px;
            margin: 0;
            padding-bottom: 5px;
        }

        p {
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: lighten($gray, 0%);
        }
    }

    .recipt {
        ion-list {
            border: none !important;
            width: 220px;
            margin: 3rem auto 0rem;

            padding-bottom: 2rem;

            ion-item {
                border: none !important;
                padding: 0;

                .item-inner {
                    padding: 0 !important;
                }

                ion-avatar {
                    width: 47px !important;
                    height: 47px !important;
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;

                    &[item-start] {
                        margin: 0;
                        margin-right: 14px;
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: -50% !important;
                        right: -50% !important;
                        bottom: 0;
                        margin: auto;
                        border-radius: 0;
                    }
                }

                h2 {
                    font-weight: 700;
                    text-transform: uppercase;
                }

            }
        }

        img {
            display: block;
        }

        &::after {
            content: '';
            width: 100%;
            height: 27px;
            display: block;
            position: absolute;
            background: url(../../assets/imgs/receipt-bodder.png);
            background-repeat: repeat-x;
            background-size: 15px;
        }
    }

    .list {
        &.radio_container {
            width: 100%;
            padding: 0 16px;
            margin-bottom: 0;
            padding-top: 20px;

            p {
                letter-spacing: 1px;
                padding-bottom: 10px;

            }

            .row {
                .col {
                    padding: 0 7px;
                }
            }

            .item {
                width: 100%;
                border: 1px solid lighten($gray, 30%) !important;
                border-radius: 5px;
                padding: 0 15px 0 15px;
                min-height: unset;
                height: 41px;

                .radio {
                    margin: 0;

                    .radio-icon {
                        border-color: lighten($gray, 30%) !important;

                        &.radio-checked {
                            border-color: $theme-color !important;

                            .radio-inner {
                                background: $theme-color !important;
                            }
                        }
                    }
                }

                .label {
                    margin: 0;
                    font-weight: 600;
                    color: $theme-color;
                    font-size: 1.2rem;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }
        }
    }

    .footer {
        padding-bottom: 20px;

        .rateing_btn {
            width: calc(100% - 80px);
            margin: 0 auto;

            .rateing {
                display: flex;
                align-items: center;
                padding-bottom: 20px;

                ion-icon {
                    color: lighten($gray, 30%);
                    font-size: 5rem;
                    //padding: 0 5px;
                    display: block;
                    margin: 0 auto;

                    &.active {
                        color: $theme-color;
                    }
                }
            }
        }

        .button.btn[block] {
            background: $red_color !important;
        }
    }
}
