<ion-header no-border class="bg-transparent">
    <ion-navbar transparent>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" class="mymap"></div>
    <div class="container">
        <ion-list class="form shadow-black" no-lines>
            <ion-item class="from">
                <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                <ion-label text-end>{{'from' | translate}}</ion-label>
                <ion-input type="text" value="{{'your_location' | translate}}"></ion-input>
                <ion-icon item-end name="md-locate"></ion-icon>
            </ion-item>
            <ion-item class="to disabled" (click)="locationPage()">
                <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                <ion-label text-end>{{'to' | translate}}</ion-label>
                <ion-input type="text" value="{{'tab_to_add_location' | translate}}"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
