page-help {
    .list {
        h2 {
            margin: 0;
            font-size: 1.2rem;
            padding: 19px 24px 19px 24px;
            color: lighten($gray, 10%);
        }

        .item {
            padding: 0;
            margin-bottom: 7px;
            padding: 9px 16px 12px 25px;

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;

                    h3 {
                        font-weight: 700;
                        font-size: 1.7rem;

                        ion-icon {
                            color: darken($bg-color, 10%);
                        }
                    }

                    p {
                        font-size: .9rem;
                        color: darken($bg-color, 20%);
                        padding-top: 4px;
                    }

                }

            }
        }
    }
}
