<ion-header class="transparent">
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="banner_img">
            <img src="assets/imgs/menu-bg2.jpg">
        </div>
        <div class="referal_code">
            <p class="text-white">{{"ur_ref_code" | translate}}</p>
            <h6 class="text-white">532461</h6>
        </div>
    </div>

    <div>
        <div padding-left padding-right padding-top padding>
            <br>
            <h4 class="text-theme">{{"refer_earn" | translate}}</h4>
            <p class="text-drack">{{"earn_text" | translate}}</p>
        </div>
        <ion-row>
            <ion-col col-3 text-center padding>
                <img src="assets/imgs/fb.png">
            </ion-col>
            <ion-col col-3 text-center padding padding>
                <img src="assets/imgs/wpp.png">
            </ion-col>
            <ion-col col-3 text-center padding>
                <img src="assets/imgs/tw.png">
            </ion-col>
            <ion-col col-3 text-center padding>
                <img src="assets/imgs/more.png">
            </ion-col>
        </ion-row>
    </div>
</ion-content>
