page-refer {
    .scroll-content {
        margin-top: 0 !important;
    }

    .banner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 370px;

        .banner_img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 300px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -50% !important;
                right: -50% !important;
                bottom: 0;
                margin: auto;
                border-radius: 0;
            }
        }

        .referral_code {
            position: absolute;
            bottom: 29px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $theme-color;
            color: $white;
            width: calc(100% - 60px);
            border-radius: 5px;
            min-height: 85px;

            p {
                margin: 0;
                font-size: 1.15rem;
                padding-top: 20px;
            }

            h6 {
                margin: 0;
                font-size: 2.3rem;
                font-weight: 600;
                letter-spacing: 3.5px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .details_box {
        width: calc(100% - 60px);
        margin: 0 auto;
        padding-top: 30px;

        h2 {
            margin: 0;
            font-size: 1.9rem;
            font-weight: 700;
            color: $theme-color;
        }

        p {
            margin: 0;
            padding-top: 20px;
            font-weight: 500;
            font-size: 1.4rem;
            color: darken($gray, 15%);
        }

        .row {
            margin: 0 -5px;
            padding-top: 35px;

            .col {
                img {
                    width: 50px;
                }
            }
        }
    }
}
