<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="banner">
        <div class="banner_img">
            <img src="assets/imgs/menu-bg2.jpg">
        </div>
        <div class="referral_code shadow-green" text-center>
            <p>{{'your_referral_code' | translate}}</p>
            <h6>532461</h6>
        </div>
    </div>

    <div class="details_box">
        <div>
            <h2 class="text-green">{{'refer_and_earn' | translate}}</h2>
            <p class="text-drack">{{'referral_code_meassage' | translate}}</p>
        </div>
        <ion-row>
            <ion-col col-3 text-center>
                <img src="assets/imgs/fb2.png">
            </ion-col>
            <ion-col col-3 text-center>
                <img src="assets/imgs/wpp.png">
            </ion-col>
            <ion-col col-3 text-center>
                <img src="assets/imgs/tw.png">
            </ion-col>
            <ion-col col-3 text-center>
                <img src="assets/imgs/more.png">
            </ion-col>
        </ion-row>
    </div>
</ion-content>
