<ion-menu [content]="content">
    <ion-header class="bg-transparent">
        <ion-list>
            <div class="profile_bg">
                <img src="assets/imgs/profile.png">
            </div>
            <ion-item menuClose (click)="profilePage()">
                <ion-avatar item-start>
                    <img src="assets/imgs/profile.png">
                </ion-avatar>
                <h2 class="text-white">Sam Smith</h2>
                <p class="text-white">{{'view_profile' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-header>

    <ion-content class="menu" padding-left padding-right>
        <ion-list no-lines>
            <ion-item menuClose (click)="homePage()">
                <ion-avatar item-start>
                    <ion-icon name="md-navigate" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'home' | translate}}</h2>
            </ion-item>
            <ion-item menuClose (click)="mytripsPage()">
                <ion-avatar item-start>
                    <ion-icon name="md-car" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'my_trips' | translate}}</h2>
            </ion-item>
            <ion-item menuClose (click)="wallet()">
                <ion-avatar item-start>
                    <ion-icon name="md-card" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'wallet' | translate}}</h2>
            </ion-item>
            <ion-item menuClose (click)="helpPage()">
                <ion-avatar item-start>
                    <ion-icon name="md-alert" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'help' | translate}}</h2>
            </ion-item>
            <ion-item menuClose (click)="referPage()">
                <ion-avatar item-start>
                    <ion-icon name="md-share" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'refer_and_earn' | translate}}</h2>
            </ion-item>
            <ion-item menuClose (click)="loginPage()">
                <ion-avatar item-start>
                    <ion-icon name="md-power" class="text-green"></ion-icon>
                </ion-avatar>
                <h2>{{'logout' | translate}}</h2>
            </ion-item>
        </ion-list>
        <!--
<ion-list>
    <ion-item menuClose (click)="referralcodePage()">
        <ion-avatar item-start>
        </ion-avatar>
        <h2>Referral Code</h2>
    </ion-item>
</ion-list>
-->
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
