page-bookride {
    .header .bar-buttons {
        color: darken($white, 100%) !important;
    }

    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

    }

    .footer {
        height: 246px;
        transition: all 5s;

        .icon_box {
            padding: 10px 0;

            ion-icon {
                display: block;

                &.down_icon {
                    display: none;
                }
            }

        }

        &.active {
            height: auto;
            transition: all 5s;

            .icon_box {
                ion-icon {
                    &.down_icon {
                        display: block;
                    }

                    &.up_icon {
                        display: none;
                    }
                }

            }

        }
    }

    .card-box {

        .card {
            background: none;
            border-radius: 10px 10px 0 0 !important;
            box-shadow: none;
            width: calc(100% - 32px);
            margin: 0 auto;
            margin-bottom: 10px;


            .card-header {
                padding: 10px 20px 6px 20px;
                background: $white;

                h4 {
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }

            ion-card-content {
                padding: 0;
                margin-bottom: 5px;
                background: $white;

                .list {
                    margin-bottom: 0;

                    .item {
                        padding: 12px 20px 0px 20px;

                        ion-avatar {
                            width: 45px !important;
                            height: 45px !important;
                            position: relative;
                            overflow: hidden;
                            border-radius: 5px;

                            &[item-start] {
                                margin: 0;
                                margin-right: 14px;
                            }

                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: -50% !important;
                                right: -50% !important;
                                bottom: 0;
                                margin: auto;
                                border-radius: 0;
                            }
                        }

                        .item-inner {
                            padding: 0;

                            .label {
                                margin: 0;

                                h2 {
                                    font-size: 1.4rem;
                                    font-weight: 600;
                                    padding-bottom: 4px;
                                }

                                p {
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                    color: darken($gray, 100%);

                                    .rateing {
                                        padding-left: 4px;

                                        ion-icon {
                                            font-size: 1.5rem !important;
                                            color: lighten($gray, 20%);

                                            &.active {
                                                color: $theme-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .car_details {
                    padding-bottom: 10px !important;
                    padding-top: 10px !important;

                    small {
                        display: block;
                        width: 100%;
                        color: lighten($gray, 20%);
                        font-weight: 500;
                        font-size: 1.1rem;
                    }

                    strong {
                        display: block;
                        width: 100%;
                        color: darken($gray, 100%);
                        font-size: 1.5rem;
                        padding-top: 3px;
                    }
                }

                &.trip_info {
                    h2 {
                        font-weight: 600;
                        font-size: 1.2rem;
                        padding: 20px;
                        padding-bottom: 10px;
                    }

                    .list {
                        &.form {
                            position: relative;
                            overflow: hidden;

                            .item {
                                padding: 10px 20px 0px 20px;
                                align-items: flex-start;
                                position: relative;
                                border-bottom: none !important;

                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 31px;
                                    background: $gray;
                                    width: 1px;
                                    height: 50%;
                                    display: block;
                                    margin: auto;
                                }

                                &::after {
                                    bottom: 0;
                                    top: unset;
                                }

                                &:first-child {
                                    &::before {
                                        display: none;
                                    }
                                }

                                &:last-child {
                                    &::after {
                                        display: none;
                                    }
                                }

                                ion-icon {
                                    &[item-start] {
                                        font-size: 1.8rem;
                                        position: relative;
                                        top: 3px;
                                        z-index: 99;
                                        margin: 0;
                                        margin-right: 10px;
                                    }
                                }

                                &.from {
                                    ion-icon {
                                        &[item-start] {
                                            color: $theme-color
                                        }
                                    }
                                }

                                &.to {
                                    ion-icon {
                                        &[item-start] {
                                            color: $yellow_color;
                                        }
                                    }
                                }

                                .item-inner {
                                    align-items: center;
                                    margin: 0;

                                    .label {
                                        margin-right: 10px;
                                    }

                                    p {
                                        font-size: 1.2rem;
                                        padding-bottom: 0px;

                                        span {
                                            min-width: 34px;
                                            margin-right: 10px;
                                            font-size: 1.15rem;
                                            color: lighten($gray, 20%);
                                            display: block;
                                            padding-bottom: 4px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

                &.payment {
                    margin-bottom: 0;

                    .row {
                        align-items: center;

                        .col[col-8] {
                            small {
                                color: darken($gray, 100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
