<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--
    <div class="drop">
        <span class="text-black">Symmit
         <ion-icon  padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div>
    <div class="pickup">
        <span class="text-black">Newark
         <ion-icon  padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div>
-->

    <div class="map">
        <img src="assets/imgs/map2.png">
    </div>
</ion-content>

<ion-footer no-border [ngClass]="viewType == 'active' ? 'footer active':'footer'">
    <div class="card-box">
        <ion-card class="text-black">
            <ion-card-header class="d-flex">
                <h4>{{'driver_info' | translate}}</h4>
                <h4 class="text-theme end" (click)="home()">{{'cancel_ride' | translate}}</h4>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item (click)="farerate()">
                        <ion-avatar item-start>
                            <img src="assets/imgs/2.png">
                        </ion-avatar>
                        <h2 class="text-black">
                            George Smith
                        </h2>
                        <p class="text-black d-flex">4.7
                            <span class="rateing">
                                <ion-icon class="material-icons active">star</ion-icon>
                                <ion-icon class="material-icons active">star</ion-icon>
                                <ion-icon class="material-icons active">star</ion-icon>
                                <ion-icon class="material-icons active">star</ion-icon>
                                <ion-icon class="material-icons">star</ion-icon>
                            </span>
                        </p>
                    </ion-item>
                </ion-list>
                <ion-row padding class="car_details">
                    <ion-col col-8>
                        <small class="text-light">Hyundai WagonR</small>
                        <strong class="text-black">DL1 ZA 5887</strong>
                    </ion-col>
                    <ion-col col-4>
                        <small class="text-light">{{'arriving_in' | translate}}</small>
                        <strong class="text-black">04 mins</strong>
                    </ion-col>
                </ion-row>
                <div text-center padding-left padding-right>
                    <button ion-button block class="btn">{{'contact' | translate}}</button>
                    <div class="icon_box">
                        <ion-icon name="ios-arrow-up" class="up_icon" (click)="setViewType('active')"></ion-icon>
                        <ion-icon name="ios-arrow-down" class="down_icon" (click)="setViewType(null)"></ion-icon>
                    </div>
                </div>
            </ion-card-content>

            <ion-card-content class="trip_info">
                <h2>{{'trip_info' | translate}}</h2>
                <ion-list class="form" no-lines>
                    <ion-item class="from">
                        <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                        <p><span class="">{{'from' | translate}}</span> Newark Ave, Journla Square, Nj</p>
                    </ion-item>
                    <ion-item class="to">
                        <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
                        <p><span class="">{{'to' | translate}}</span>Sip Ave, Journla Square, Nj</p>
                    </ion-item>
                </ion-list>

                <ion-row padding class="car_details">
                    <ion-col col-3>
                        <small class="text-light">{{'distance' | translate}}</small>
                        <strong class="text-black">08 km</strong>
                    </ion-col>
                    <ion-col col-5>
                        <small class="text-light">{{'traveling_time' | translate}}</small>
                        <strong class="text-black">Est. 16 mins</strong>
                    </ion-col>
                    <ion-col col-4>
                        <small class="text-light">{{'arrival' | translate}}</small>
                        <strong class="text-black">12:38 pm</strong>
                    </ion-col>
                </ion-row>
            </ion-card-content>

            <ion-card-content class="payment">
                <ion-row padding class="car_details">
                    <ion-col col-4>
                        <small class="text-light">{{'payment' | translate}}</small>
                        <strong class="text-black">{{'wallet' | translate}}</strong>
                    </ion-col>
                    <ion-col col-8>
                        <small class="" text-end>$23.00</small>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-footer>
