<!--
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        </button>
    </ion-navbar>
</ion-header>
-->

<ion-content padding>
    <!--
    <div class="drop">
        <span class="text-black">Symmit
            <ion-icon padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div>
    <div class="pickup">
        <span class="text-black">Newark
            <ion-icon padding-left name="ios-arrow-forward"></ion-icon>
        </span>
    </div>
-->

</ion-content>
<ion-footer no-border>
    <div class="card-box">
        <ion-card text-center class="text-black">
            <ion-card-header text-center class="text-black">
                {{'schedule_pick_up' | translate}}
            </ion-card-header>
            <ion-card-content>
                <h3 class="text-light">{{'select_date' | translate}}</h3>
                <h2>September 17</h2>
                <h3 class="text-light">{{'select_time' | translate}}</h3>
                <h2>05:00 pm</h2>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button block class="btn shadow-black cancel" (click)="dismiss()">{{'cancel' | translate}}</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button block class="shadow-green btn" (click)="dismiss()" (click)="loading()">{{'confirm' | translate}}</button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-footer>
