page-schedule {

    .pickup,
    .drop {
        width: 100px;
        background: #fff;
        padding: 7px 5px 7px 10px;
        border-left: 8px solid #74d014;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 500;
        position: fixed;
        right: 30px;
    }

    .pickup {
        border-color: #fbbd00 !important;
        left: 38px !important;
        top: 30%;
    }

    .content {
        background: none !important;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.49);
            filter: blur(1px);
        }
    }

    .card-box {
        padding-bottom: 10px;

        .card {
            margin: 0;
            border-radius: 7px;
            width: calc(100% - 50px);
            margin: 0 auto;

            .card-header {
                font-size: 1.3rem;
                font-weight: 600;
                padding: 13px 0px 17px 0px;

            }

            .card-content {
                padding: 0 20px;


                h3 {
                    margin: 0;
                    color: lighten($gray, 20%);
                    font-size: 1.25rem;
                    font-weight: 500;
                    padding-bottom: 4px;

                }

                h2 {
                    font-weight: 600;
                    font-size: 1.7rem;
                    padding-bottom: 15px;
                }
            }

            .button.btn {
                &.cancel {
                    background: $white;
                    color: $theme-color;
                }
            }
        }

    }
}
