<ion-header class="bg-transparent">
    <ion-navbar>
        <button ion-button menuToggle></button>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--
<div class="drop">
    <span class="text-black">Symmit
        <ion-icon padding-left name="ios-arrow-forward"></ion-icon>
    </span>
</div>
<div class="pickup">
    <span class="text-black">Newark
        <ion-icon padding-left name="ios-arrow-forward"></ion-icon>
    </span>
</div>
-->

    <div class="map">
        <img src="assets/imgs/map2.png">
    </div>
</ion-content>
<ion-footer no-border>
    <div class="card-box">
        <ion-card class="text-black">
            <ion-card-header class="d-flex">
                <p>
                    <ion-icon class="material-icons text-theme">account_balance_wallet</ion-icon>
                    {{'wallet' | translate}}
                </p>
                <p class="center"> {{'choose_cab_type' | translate}} </p>
                <p class="end">
                    <ion-icon class="material-icons text-theme">person_add</ion-icon>1
                </p>
            </ion-card-header>
            <ion-card-content>
                <div class="cab_container">
                    <ion-scroll scrollX="true">
                        <div class="cab-type" [ngClass]="faqExpand1 ? 'active' : '' " (click)="faqExpandToggle1()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoShare</h2>
                                <h3 class="text-light ">Est $40</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand2 ? 'active' : '' " (click)="faqExpandToggle2()">
                            <div class="img-box ">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoMeOnly</h2>
                                <h3 class="text-light ">Est $65</h3>
                            </div>
                        </div>
                        <div class="cab-type " [ngClass]="faqExpand3 ? 'active' : '' " (click)="faqExpandToggle3()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoBigger</h2>
                                <h3 class="text-light ">Est $80</h3>
                            </div>
                        </div>
                        <div class="cab-type " [ngClass]="faqExpand4 ? 'active' : '' " (click)="faqExpandToggle4()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoFaster</h2>
                                <h3 class="text-light ">Est $95</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand5 ? 'active' : '' " (click)="faqExpandToggle5()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoShare</h2>
                                <h3 class="text-light ">Est $40</h3>
                            </div>
                        </div>

                        <div class="cab-type" [ngClass]="faqExpand6 ? 'active' : '' " (click)="faqExpandToggle6()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoShare</h2>
                                <h3 class="text-light ">Est $40</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand7 ? 'active' : '' " (click)="faqExpandToggle7()">
                            <div class="img-box ">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoMeOnly</h2>
                                <h3 class="text-light ">Est $65</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand8 ? 'active' : '' " (click)="faqExpandToggle8()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoBigger</h2>
                                <h3 class="text-light ">Est $80</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand9 ? 'active' : '' " (click)="faqExpandToggle9()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoFaster</h2>
                                <h3 class="text-light ">Est $95</h3>
                            </div>
                        </div>
                        <div class="cab-type" [ngClass]="faqExpand10 ? 'active' : '' " (click)="faqExpandToggle10()">
                            <div class="img-box">
                                <img src="assets/imgs/car-1.png">
                            </div>
                            <ion-badge item-end class="bg-green">2 mins</ion-badge>
                            <div class="text">
                                <h2 class="text-black ">GoShare</h2>
                                <h3 class="text-light ">Est $40</h3>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
                <ion-row padding-left padding-right>
                    <ion-col col-2>
                        <button ion-button block class="btn shadow-green">
                            <ion-icon name="md-time"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-10>
                        <button ion-button block class="btn shadow-green" (click)="schedule()">{{'request_cab' | translate}}</button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-footer>
