page-choosecab {
    .header .back-button {
        color: darken($theme-color, 100%) !important;
    }

    //    .pickup,
    //    .drop {
    //        width: 100px;
    //        background: $white;
    //        padding: 7px 5px 7px 10px;
    //        border-left: 8px solid $theme-color;
    //        border-radius: 4px;
    //        font-size: 1.2rem;
    //        font-weight: 500;
    //        position: fixed;
    //        right: 30px;
    //    }
    //
    //    .pickup {
    //        border-color: $yellow_color !important;
    //        left: 38px !important;
    //        top: 30%;
    //    }
    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

    }

    .card-box {
        .card-header {
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
            display: flex;
            align-items: center;

            small {
                font-size: 1.1rem;
                display: flex;
                align-items: center;

                .icon {
                    font-size: 1.5rem;
                }

                .icon[padding-right] {
                    padding-right: 5px !important;
                }
            }
        }

        .cab-scroll {
            overflow-x: auto;
            padding-bottom: 1rem;

            .cab-container {
                display: block;
                padding-left: 16px;
                clear: both;
                width: 470px;
                padding-top: 10px;

                &::after {
                    clear: both;
                    content: '';
                    display: block;
                    width: 100%;
                }

                .cab-type {
                    width: 85px;
                    display: inline-block;

                    .img-box {
                        width: 65px;
                        height: 65px;
                        margin-bottom: 20px;
                        text-align: center;
                        margin: auto;
                        opacity: 0.6;

                        img {
                            display: block;
                            -webkit-filter: grayscale(100%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }

                        .badge {
                            position: relative;
                            top: -84px;
                            left: -23px;
                            font-size: 1rem;
                            z-index: 999;
                            font-weight: 300;
                            border-radius: 3px !important;
                            display: none;
                        }
                    }

                    .img-box.active {
                        width: 100%;
                        max-width: 75px;
                        height: 75px;
                        text-align: center;
                        margin-bottom: 0;
                        opacity: 1.6;

                        img {
                            -webkit-filter: grayscale(0%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(0%);
                            box-shadow: 11px 12px 30px 0px #cccc;
                            border-radius: 50%;
                        }

                        .badge {
                            display: inline-block;
                        }
                    }

                    h4 {
                        font-size: 1.1rem;
                        margin-top: 1rem;
                        font-weight: 500;
                        line-height: 8px;
                        letter-spacing: 1px;
                        padding-left: .5rem;
                    }

                    small {
                        padding-left: .5rem;
                    }
                }
            }

            h2 {
                font-size: 1.4rem;
                font-weight: 600;
                padding-bottom: 4px;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .footer {
        .card-box {
            background: $white;
            //padding-bottom: 20px;

            .card {
                margin: 0;
                width: 100%;
                box-shadow: none;

                .card-header {
                    padding: 10px 15px;

                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: $gray;
                        z-index: 99;
                        display: flex;
                        align-items: center;


                        ion-icon {
                            margin-right: 8px;
                            font-size: 1.8rem;
                        }

                        &.center {
                            color: darken($gray, 100%);
                            text-align: center;
                            margin: 0 auto;
                            position: absolute;
                            font-weight: 600;
                            display: block;
                            width: 100%;
                            left: 0;
                            right: 0;
                            z-index: 1;

                        }
                    }
                }

                .card-content {
                    padding: 0;

                    .cab_container {
                        ion-scroll {
                            height: 136px;
                            white-space: nowrap;

                            .cab-type {
                                display: inline-block;
                                position: relative;
                                overflow: hidden;
                                width: 80px;
                                text-align: center;
                                height: 125px;

                                .img-box {
                                    position: absolute;
                                    top: 10px;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    width: 65px;
                                    height: 65px;
                                    overflow: hidden;
                                    border-radius: 50%;

                                    img {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: -50% !important;
                                        right: -50% !important;
                                        bottom: 0;
                                        margin: auto;
                                        filter: grayscale(100%);
                                    }
                                }

                                .badge {
                                    display: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: $theme-color;
                                    font-size: .8rem;
                                    font-weight: 300;
                                    padding: 4px 9px;
                                }

                                .text {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;

                                    h2 {
                                        font-size: 1.22rem;
                                        font-weight: 600;
                                    }

                                    h3 {
                                        font-size: 1.1rem;
                                        font-weight: 500;
                                        color: lighten($gray, 30%);
                                    }
                                }

                                &.active {
                                    .img-box {
                                        width: 75px;
                                        height: 75px;
                                        box-shadow: 0 12px 14px -1px rgba(0, 0, 0, 0.2);

                                        img {
                                            filter: grayscale(0);
                                        }
                                    }

                                    .badge {
                                        display: block;
                                    }
                                }

                                &:first-child {
                                    margin-left: 16px;
                                }

                                &:last-child {
                                    margin-right: 16px;
                                }
                            }
                        }
                    }
                }

                .row {
                    padding-bottom: 8px;
                }

            }

        }
    }
}
