<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'wallet' | translate}}</ion-title>
    </ion-navbar>

    <div class="banner" text-center>
        <h4>{{'available_balance' | translate}}</h4>
        <h1>$150.00</h1>
        <ion-row>
            <ion-col col-6>
                <button ion-button block class="btn send_to_bank_btn" (click)="addmoney()">{{'send_to_bank' | translate}}</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block class="btn add_money_btn">{{'add_money' | translate}}</button>
            </ion-col>
        </ion-row>
    </div>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="driver_details d-flex">
                <div class="driver_img">
                    <img src="assets/imgs/2.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        Paid for ride
                        <small>23rd Jan, 2019, 11:21 am </small>
                        <span class="end">-$85.00</span>
                    </h2>
                    <h3>
                        Newark Ave, Journla
                        <span>To</span>
                        Sip Ave, Journla
                    </h3>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
