page-wallet {
    .header {
        .banner {
            color: $white;
            padding-top: 15px;

            h4 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 1px;
            }

            h1 {
                margin: 0;
                font-size: 2.8rem;
                font-weight: 700;
                letter-spacing: 2px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .row {
                margin: 0 auto;
                width: calc(100% - 50px);
                padding-top: 15px;
                padding-bottom: 15px;

                .col {
                    padding: 0 10px;
                }

                .button.btn {
                    border: 1px solid $white;
                    font-weight: 700;
                    font-size: 1.3rem;
                    font-size: 1.2rem;
                    height: 38px;

                    &.add_money_btn {
                        background: $white;
                        color: $theme-color;

                    }
                }
            }
        }
    }


    .list {
        width: calc(100% - 10px);
        padding-top: 15px;
        margin: 0 auto;

        .item {
            padding: 0;
            margin-bottom: 6px;
            border-radius: 5px;
            box-shadow: 0 1px 21px 0px rgba(0, 0, 0, 0.1);

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;
                    white-space: normal;

                    .driver_details {
                        padding: 12px 12px 12px 12px;

                        .driver_img {
                            min-width: 40px !important;
                            width: 40px !important;
                            height: 40px !important;
                            position: relative;
                            overflow: hidden;
                            border-radius: 7px;
                            margin-right: 10px;

                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: -50% !important;
                                right: -50% !important;
                                bottom: 0;
                                margin: auto;
                                border-radius: 0;
                            }

                        }

                        .text_box {
                            width: 100%;

                            h2 {
                                font-weight: 600;
                                font-size: 1.25rem;

                                small {
                                    font-size: .8rem;
                                    color: lighten($gray, 20%);
                                    font-weight: 400;
                                    margin: 0 10px;
                                    position: relative;
                                    top: 1px
                                }
                            }

                            h3 {
                                color: lighten($gray, 20%);
                                font-size: 1.2rem;
                                font-weight: 500;
                                padding-top: 5px;

                                span {
                                    color: darken($gray, 100%);
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
